.modal-content,.picker__wrap {
	box-shadow:0 1px 30px rgba(0,0,0,.5);
	outline:0
}
.modal-close,.modal-title {
	font-size:20px;
	line-height:28px
}
.modal {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	display:none;
	outline:0;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:40;
	-webkit-overflow-scrolling:touch;
	-ms-overflow-style:-ms-autohiding-scrollbar
}
.modal-backdrop,.picker__holder {
	-webkit-backface-visibility:hidden;
	right:0;
	top:0;
	left:0;
	bottom:0
}
.modal-open .modal {
	overflow-x:hidden;
	overflow-y:auto
}
.modal-backdrop {
	backface-visibility:hidden;
	background-color:#000;
	opacity:0;
	position:fixed;
	-webkit-transition:opacity .3s cubic-bezier(.4,0,.2,1);
	transition:opacity .3s cubic-bezier(.4,0,.2,1);
	z-index:39
}
.modal-content,.modal-dialog,.modal-heading,.nav,.nav .a,.nav a,.nav li {
	position:relative
}
.menu~.modal-backdrop {
	z-index:30
}
.modal-close {
	color:#727272;
	cursor:pointer;
	display:block;
	float:right;
	margin-right:-8px;
	padding-right:8px;
	padding-left:8px
}
.modal-close:focus,.modal-close:hover {
	color:#ff4081;
	text-decoration:none
}
.modal-content {
	background-clip:padding-box;
	background-color:#fff;
	border:1px solid transparent;
	border-radius:4px
}
.modal-dialog {
	margin:48px 16px
}
.modal-heading,.modal-inner {
	margin-top:24px;
	padding-right:24px;
	padding-left:24px
}
.modal-dialog.modal-full {
	height:100%;
	height:calc(100% - 96px)
}
.modal-dialog.modal-full .modal-content {
	height:100%
}
.modal.fade .modal-dialog {
	-webkit-transform:scale(0,0);
	transform:scale(0,0);
	-webkit-transition:-webkit-transform .3s cubic-bezier(.4,0,.2,1);
	transition:-webkit-transform .3s cubic-bezier(.4,0,.2,1);
	transition:transform .3s cubic-bezier(.4,0,.2,1);
	transition:transform .3s cubic-bezier(.4,0,.2,1),-webkit-transform .3s cubic-bezier(.4,0,.2,1)
}
.modal.fade.in .modal-dialog {
	-webkit-transform:scale(1,1);
	transform:scale(1,1)
}
@media only screen and (min-width:480px) {
	.modal-dialog.modal-xs {
	margin-right:auto;
	margin-left:auto;
	width:448px
}
}@media only screen and (min-width:992px) {
	.modal-dialog {
	margin-right:auto;
	margin-left:auto;
	width:960px
}
}@media only screen and (min-width:1440px) {
	.modal-dialog {
	width:1408px
}
}.modal-footer {
	padding-right:24px;
	padding-left:24px
}
.modal-footer .btn+.btn {
	margin-right:16px
}
.modal-footer .text-right .btn+.btn {
	margin-right:auto;
	margin-left:16px
}
.modal-heading,.modal-inner {
	margin-bottom:24px
}
.modal-open {
	overflow:hidden
}
.modal-title {
	margin-top:0;
	margin-right:28px;
	margin-bottom:24px
}
.modal-va-middle {
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	-ms-grid-row-align:center;
	align-items:center
}
.modal-va-middle .modal-dialog {
	-webkit-box-flex:1;
	-webkit-flex-grow:1;
	-ms-flex-positive:1;
	flex-grow:1
}
@media only screen and (min-width:480px) {
	.modal-va-middle .modal-dialog.modal-xs {
	-webkit-box-flex:0;
	-webkit-flex-grow:0;
	-ms-flex-positive:0;
	flex-grow:0
}
}@media only screen and (min-width:992px) {
	.modal-va-middle .modal-dialog {
	-webkit-box-flex:0;
	-webkit-flex-grow:0;
	-ms-flex-positive:0;
	flex-grow:0
}
}.modal-va-middle-show {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex
}
.iframe-seamless {
	border:0;
	display:block;
	height:100%;
	margin:0;
	padding:0;
	width:100%
}
.card-inner {
	margin:24px 16px
}
.card-header .card-inner {
	-webkit-box-flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
	margin-top:12px;
	margin-bottom:12px
}